* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  display: block;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1e1e2a;
  background-color: #ffffff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
